* {
	font-family: monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* map */
#map {
	width: 100vw;
	height: 100vh;
}

.marker-icon {
	background-color: black;
	width: 20px;
	height: 20px;
	border-radius: 20px;
}

/* undo/edit leaflet styles */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border: none;
}

.leaflet-touch .leaflet-bar a:first-child,
.leaflet-touch .leaflet-bar a:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1px;
}

.leaflet-bar a:last-child {
	border: 1px solid black;
	border-top: none;
	border-left: none;
}

.leaflet-bar a {
	border-right: 1px solid black;
	border-bottom-color: black;
}

.leaflet-top .leaflet-control {
	margin-top: 0;
}

.leaflet-left .leaflet-control {
	margin-left: 0;
}

.leaflet-control-attribution a,
.leaflet-container a,
.leaflet-container a.leaflet-popup-close-button {
	color: black;
}

.leaflet-container .leaflet-control-attribution {
	background: white;
	border-top: 1px solid black;
	border-left: 1px solid black;
/*	font-size: 8px;*/
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  box-shadow: none;
}

.leaflet-popup-tip {
	background-color: white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.leaflet-popup-content-wrapper {
	color: black;
	border: 1px solid black;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}